@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #0056b3;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    max-width: 400px;
    margin: 200px auto 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.form-group:first-child {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 2px;
}

.form-group {
    margin-bottom: 35px;    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit button styling */
.submit-button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Adjust color as needed */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.submit-button:hover {
    color: #fff;
    background-color: #969696;
    cursor: pointer;
}

.next_btn{
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    margin: 50px auto 0 auto;
}

.next_btn a{
    text-decoration: none;
    color: #fff;
}


